<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
</head>
<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="productList">
        {{#each products}}
            <li>
                <h2>{{this.name}}</h2>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Categoría: {{this.category}}</p>
                <button onclick="addToCart('{{this.id}}')">Agregar al Carrito</button>
            </li>
        {{/each}}
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';
            products.forEach(product => {
                productList.innerHTML += `<li>
                    <h2>${product.name}</h2>
                    <p>Descripción: ${product.description}</p>
                    <p>Precio: $${product.price}</p>
                    <p>Categoría: ${product.category}</p>
                    <button onclick="addToCart('${product.id}')">Agregar al Carrito</button>
                </li>`;
            });
        });

        function addToCart(productId) {
            
        }
    </script>
</body>
</html>
